<%- include("partials/header") %>

<figure style="margin-top: 120px; "class="figure">
  <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="400px" height="300px" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">Book titlr.</figcaption>
  <p>Description</p>
  <p>price</p>
</figure>

<a href="/">Browse More Books</a>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Contact Seller</h5>
    <p class="card-text"><textarea name="" placeholder="Your Messsage" id="" cols="25" rows="3">Hi, I'm interested! Please contact me if this is still available.</textarea></p>
  </div>
  <div class="card-body">
    <button class="btn btn-primary">Send Message</button>
  </div>
</div>

<%- include("partials/footer") %>
