<%- include("partials/header")%>
<main style="margin-top: 120px;">
  <section >
  <div class="container">

  <form action="/books" method="POST">
    <h3>Enter Ad Details</h3>
    <br>
    <div class="mb-3">
      <label  class="form-label">Title</label>
      <input type="text" name="title" class="form-control" id="">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="description" class="form-control" rows="3"></textarea>
    </div>

    <!--category-->
    <label class="form-label">Category</label>
    <select name="category" class="form-select mb-3" aria-label=".form-select-lg example">
      <option selected>Select</option>
      <option value="1">Children''s Books</option>
      <option value="2">History</option>
      <option value="3">Humour & Entertainment</option>
      <option value="4">Biographies & Memoirs</option>
      <option value="5">Other</option>
    </select>

    <!--img-->
    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input name="url" class="form-control" type="text" id="">
    </div>
    <!--Condition-->

<label class="form-label">Condition</label>
<select name="condition" class="form-select mb-3" aria-label=".form-select-lg example">
  <option selected>Select</option>
  <option value="1">New</option>
  <option value="2">Used-Like New</option>
  <option value="3">Used-Good</option>
  <option value="4">Used-Fair</option>
</select>


    <!--price-->
    Price
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1" checked>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input name="amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
      <label class="form-check-label" for="flexRadioDefault2">
        Free
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
       Swap/Trade
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
       Please Contact
      </label>
    </div>
<br>
<!--contact-->
<label class="form-label">Contact Information</label>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  Phone Number
  <div class="mb-3">
    <input type="text" class="form-control" name="phone">
  </div>
  <button type="submit" class="btn btn-primary">Post Your Ad</button>

  </form>

</div>
</main>
</section>

<%- include("partials/footer") %>
