.bookInfoAndForm{
display: flex;
flex-direction: row;

  margin-top: 0;
  width: 100%;
}

.figure-and-browse-more {
  display: flex;
  flex-direction: column;
  width:100%;
  margin-top: 10px;
}

.figure-wrap{
  width:100%;
}



#messageToSend {
  width:100%;
  height: 200px
}

.cardWrap {
  width: 100%;
  // display: flex;
  // flex-direction: row;
  width: 100%;
}

.contactSeller {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
}

.discription-price-condition{
display:flex;
flex-direction: row;
margin:20;
width:100%
}

.browse-more-books{
  margin-top:0px;
  margin-left:50px;
}

.book_discription{
width:30%
}
